.bg-light-purple {
  background-color: #faf5ff !important;
  color: #7e22ce !important;
}

.border-light-purple {
  border-color: #e9d5ff !important;
}

.bg-purple-subtle {
  background-color: #f3e8ff !important;
}

.border-purple-subtle {
  border-color: #e9d5ff !important;
}

.text-purple {
  color: #7e22ce !important;
}

.text-primary-bos {
  color: #581c87 !important;
}
